# House price prediction

## Predicting the price of houses in Washnington DC in USA.

### Feature selection

In [95]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
import pandas as pd
import numpy as np

In [96]:
data_frame=pd.read_csv('new_data.csv')
data_frame.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,price
0,3.0,1.50,7.200425,8.976136,1.5,0,0,3,7.200425,0,4.189655,16,1149,10,14,0,313000.000000
1,5.0,2.50,8.202482,9.110520,2.0,0,4,5,8.122668,280,4.605170,0,3089,0,49,0,460943.461538
2,3.0,2.00,7.565275,9.388235,1.0,0,0,4,7.565275,0,4.007333,0,1565,6,6,0,342000.000000
3,3.0,2.25,7.600902,8.990940,1.0,0,0,4,6.907755,1000,4.060443,0,3743,2,46,0,420000.000000
4,4.0,2.50,7.570443,9.259131,1.0,0,0,4,7.038784,800,3.806662,29,3230,3,1,0,550000.000000

In [97]:
x=data_frame.iloc[:,:-1]
y=data_frame[['price']]

In [98]:
model=SelectFromModel(Lasso(random_state=0,alpha=0.005))

In [99]:
model.fit(x,y)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [100]:
model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False])

In [101]:
selected_features=[]
for i,j in zip(model.get_support(),x.columns):
    if i==True:
        selected_features.append(j)

In [102]:
selected_features

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'street',
 'city',
 'statezip']

In [103]:
final_data=pd.concat([data_frame[selected_features],data_frame[['price']].reset_index(drop=False)],axis=1)

In [104]:
final_data.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,index,price
0,3.0,1.50,7.200425,8.976136,1.5,0,0,3,7.200425,0,4.189655,16,1149,10,14,0,313000.000000
1,5.0,2.50,8.202482,9.110520,2.0,0,4,5,8.122668,280,4.605170,0,3089,0,49,1,460943.461538
2,3.0,2.00,7.565275,9.388235,1.0,0,0,4,7.565275,0,4.007333,0,1565,6,6,2,342000.000000
3,3.0,2.25,7.600902,8.990940,1.0,0,0,4,6.907755,1000,4.060443,0,3743,2,46,3,420000.000000
4,4.0,2.50,7.570443,9.259131,1.0,0,0,4,7.038784,800,3.806662,29,3230,3,1,4,550000.000000

In [105]:
final_data.to_csv('final_data.csv',index=False)